* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li,
ul {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: rgb(192, 223, 56);
}

a:focus {
  font-weight: 500;
  color: rgb(192, 223, 56);
}
